<template name="Crumb">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="/"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">crumbs</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="card">
        <div class="item item-text-wrap">
            {{crumb.content}}
            <p class="subdued">{{crumb.timestamp}}</p>
        </div>
      </div>

      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Reply..." id="replyText">
          <!--<i class="icon ion-image" id="replyImage"></i>-->
        </label>
        <button class="button button-clear" id="replySubmit">
          Post
        </button>
      </div>

      <div class="list">
        {{#each comments}}
        <div class="item">
            {{content}}
            <p class="subdued">{{timestamp}}</p>
        </div>
        {{/each}}
        {{#if noComments}}
        <div class="item">
            <p style="text-align:center">No replies to view.</p>
        </div>
        {{/if}}
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
