<template name="Feed">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="/"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">crumbs</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#each crumbs}}
      <div class="card">
        <a class="item item-text-wrap" href="/crumb/{{_id}}">
            {{content}}
            <p class="subdued">{{timestamp}}</p>
        </a>
      </div>
      {{/each}}
      {{#unless crumbs}}
      <div class="card">
        <div class="item item-text-wrap">
            <p>No crumbs to view.</p>
        </div>
      </div>
      {{/unless}}
    {{/ionContent}}
  {{/ionView}}
</template>
