<template name="InputBar">
  <div class="card input-bar fadeIn" id="input-bar-card" style="{{#if inFocus}}opacity: 1.0;{{else}}opacity: 0.5;{{/if}}">
    <label class="item item-input" id="input-bar-label">
      <input type="text" placeholder="Write something..." id="inputContent" maxlength="150">
      <span id="input-bar-button-span"></span>
      <button class="button button-clear" id="submit">
        <i class="icon ion-ios-arrow-right placeholder-icon"></i>
      </button>
    </label>
  </div>
</template>
