<template name="Login">
  {{#ionView}}
    <div class="content padding overflow-scroll login-content-div" style="margin-right: auto;">
      <br><br><br><br>
      <img class="img-responsive" src="img/SeparableLogoWithText.png" style="width:35%; margin: 0 auto;" />
      <br>
      <br>
      <button class="button button-block button-facebook" id="login-with-facebook" style="color: #777; font-size: 18px;font-family: 'Century Gothic', 'Helvetica';border-radius: 15px;margin: auto;width:70%">Login With Facebook</button>
    </div>
  {{/ionView}}
</template>
