<template name="NavButtons">
  {{> MenuButton}}
  {{> CrumbsButton}}
  {{#if menuToggle}}
    {{> HelpButton}}
    {{> LogoutButton}}
  {{/if}}
</template>

<template name="CrumbsButton">
  <img class="crumbsButton" src="/img/crumblogo.png" alt="Crumb Logo">
</template>

<template name="MenuButton">
  <img class="menuButton" src="/img/menuicon.png" alt="Menu Icon">
</template>

<template name="HelpButton">
  <img class="helpButton menuSlideDown" src="/img/helpicon.png" alt="Help Icon" id="helpButton">
</template>

<template name="LogoutButton">
  <img class="logoutButton menuSlideDown2" src="/img/logout.png" alt="Logout" id="logoutButton">
</template>
